:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  margin-top: 1.5em;
  cursor: default;
}

.square__container {
  width: 100%;
  overflow: auto;
  height: 60px;
  border-radius: 6px;
  display: flex;
  border: 1px solid teal;
}

.squares-enter {
  width: calc(20vw);
  margin-left: calc(-20vw);
  transform: translateX(0);
  transition: all 0.3s ease;
  height: 100%;
  border: 1px solid teal;
}
.squares-enter-active {
  opacity: 1;
  transition: all 0.3s ease;
}

.squares-enter-done {
  min-width: calc(20vw);
  height: 100%;
  border: 1px solid teal;
  transition: all 0.3s ease;
}

.squares-exit {
  opacity: 1;
}
.squares-exit-active {
  opacity: 0;
  transform: translateX(20vw);
  transition: all 0.3s ease-in;
}